# Ignore node_modules folder
node_modules/

# Ignore log files
*.log

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore IDE files
.vscode/
.idea/

# Ignore environment files
.env

# Ignore virtual environment files
venv/
